<h2>Members in Class</h2>

<form method="GET">
<select name="classId">
<option value="">Select Class</option>

<% classes.forEach(c => { %>
<option value="<%= c.id %>"><%= c.className %></option>
<% }) %>

</select>

<button type="submit">Search</button>
</form>

<table border="1">
<tr>
<th>Member</th>
<th>Email</th>
<th>Status</th>
</tr>

<% enrollments.forEach(e => { %>
<tr>
<td><%= e.User.username %></td>
<td><%= e.User.email %></td>
<td><%= e.status %></td>
</tr>
<% }) %>

</table>