<%- include('../partials/header') %>

<div class="container mt-4">

<div class="card shadow rounded-4">

<div class="card-body">

<h3>Enrollments</h3>

<a href="/enrollments/create" class="btn btn-primary mb-3">
Add Enrollment
</a>

<table class="table table-striped">

<thead>
<tr>
<th>ID</th>
<th>Member</th>
<th>Class</th>
<th>Status</th>
<th>Action</th>
</tr>
</thead>

<tbody>

<% enrollments.forEach(e => { %>

<tr>

<td><%= e.enrollment_code %></td>

<td><%= e.User.username %></td>

<td><%= e.Class.className %></td>

<td><%= e.status %></td>

<td>

<a href="/enrollments/<%= e.id %>" class="btn btn-info btn-sm">
View
</a>

<a href="/enrollments/<%= e.id %>/edit" class="btn btn-warning btn-sm">
Edit
</a>

<form action="/enrollments/<%= e.id %>/delete" method="POST" style="display:inline;">

<button class="btn btn-danger btn-sm deleteBtn">
Delete
</button>

</form>

</td>

</tr>

<% }) %>

</tbody>

</table>

</div>

</div>

</div>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>

document.querySelectorAll('.deleteBtn').forEach(btn => {

btn.addEventListener('click', function(e){

e.preventDefault()

Swal.fire({

title:'Delete?',
text:'Are you sure?',
icon:'warning',
showCancelButton:true

}).then(result => {

if(result.isConfirmed){

this.closest("form").submit()

}

})

})

})

</script>