<h2>Enrollment Detail</h2>

<p>Member: <%= enrollment.User.username %></p>

<p>Email: <%= enrollment.User.email %></p>

<p>Class: <%= enrollment.Class.className %></p>

<p>Schedule: <%= enrollment.Class.scheduleTime %></p>

<p>Status: <%= enrollment.status %></p>

<a href="/enrollments">Back</a>